body {
  width: 100%;
  font-family: Montserrat;
  text-align: center;
}

/* div {
  display: inline-block;
} */

.login_form {
  border: solid grey 1px;
  width: 80%;
  max-width: 1100px;
  margin: 0px auto;
  text-align: center;
}

.content_inside {
  display: flex;
  border: solid red 1px;
}

.content_left {
  border: solid red 1px;
  width: 30%;
}

.button_1 {
  height: 50px;
  width: 180px;
  background-color: #517cc0;
  border: none;
  color: white;
}

.button_2 {
  height: 50px;
  width: 180px;
  background-color: #df4a32;
  border: none;
  color: white;
}

.button_3 {
  height: 50px;
  width: 180px;
  background-color: #65cdf2;
  border: none;
  color: white;
}

.content_right {
  display: flex;
  border: solid blue 1px;
  width: 30%;
}

.content__bottom {
  border: solid green 1px;
  width: 80%;
  max-width: 1100px;
  margin: auto;
}
